
  
  /* .flexbox_container{
    display: flex;
    align-items: center;
  
   
      
  }

  .flexbox_item{
    width: 200px;
    height :120px;
    margin: 10px;
    border: 3px solid#333;
    background-color: #dfdfdf;
  }

  .flexbox_item_1{
      min-width: auto;
  }
  .flexbox_item_2{
    min-width: auto;
}
.flexbox_item_3{
    min-width: auto;
}
 */
